<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emotions.database.emotionsdatabase" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".EmotionsDatabaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HappyMeter"
            android:label="Happy Meter" >
        </activity>
        <activity
            android:name=".EngageMedia"
            android:label="Engagement" >
        </activity>
        <activity
            android:name=".Comment"
            android:label="Comment" >
        </activity>
        <activity
            android:name=".MediaList"
            android:label="@string/title_activity_media_list" >
        </activity>
        <activity
            android:name=".ThankYou"
            android:label="@string/title_activity_thanks" >
        </activity>

        <receiver
            android:name=".AlarmClass"
            android:process=":remote" />

        <activity
            android:name=".NumAlarms"
            android:label="@string/title_activity_num_alarms" >
        </activity>
    </application>

</manifest>
